# This is Git's per-user configuration file.
[user]
	name = Ferenc Szalai
	email = szferi@pionlab.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f